services:
  postgres:
    image: postgres:16.11-alpine3.23
    container_name: chronos-db-local
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASS}
      POSTGRES_DB: appointments
    volumes:
      - postgres_data_local:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB} || exit 1"]
      interval: 60s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - local-network

volumes:
  postgres_data_local:
    driver: local

networks:
  local-network:
    driver: bridge