services:
  chronos:
    build: .
    container_name: "chronos_api"
    environment:
      - SPRING_PROFILES_ACTIVE=${profile}
    healthcheck:
      test: "curl --fail --silent localhost:8080/actuator/health | grep UP || exit 1"
      interval: 20s
      timeout: 5s
      retries: 5
      start_period: 40s
    ports:
      - "8080:8080"
